body{
    background: url('../img/rebobine.jpg') top center no-repeat;
    background-size: cover;

}

main, footer{
    text-shadow: 1px 1px 1px white, -1px 1px 1px white, 1px -1px 1px white, -1px -1px 1px white;
}