:root{
    --navbar-height: 3rem;
}

*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html{
    scroll-behavior: smooth;
  }

body{
    padding-top: var(--navbar-height);
}

a{
    text-decoration: none;
}